@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 30px auto;
  overflow: auto;
  min-height: 1000px;
  border: 2px solid black;
  border-radius: 10px;
  border-style: groove;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.5), 0 12px 20px 0 rgba(0, 0, 0, 0.5);
  border-width: 10px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.container2 {
  max-width: 1000px;
  margin: 30px auto;
  overflow: auto;
  min-height: 1000px;
  background-color: aliceblue;
  border: 2px solid black;
  border-radius: 10px;
  border-width: 5px;
  padding: 40px;
}

.desc {
  display: grid;
  place-content: center;
  min-height: 5vh;
  font-family: "Oswald", sans-serif;
  text-align: justify;
  letter-spacing: 1px;
  font: bolder;
  padding-top: 10px;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  font-size: 10px;
}

.nocoach {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 900;
  display: grid;
  place-content: center;

  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: var(--text-color);
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.cname {
  font-size: 16px;
  font-weight: 900;
  position: relative;
  top: -30px;
}

.promptbox {
  min-width: 150px;
  border-color: black;
  padding-left: 5px;
  border-radius: 5px;
  margin: 15px;
  top: -30px;
  position: relative;
}

.session {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  font-size: 10px;
}

.date {
  background-color: white;
  border: 1.5px solid black;
  border-radius: 5px;
  margin-bottom: 25px;
  margin-left: 10px;
  position: relative;
  margin-top: 5px;
}

.session {
  font-size: 11.5px;
  font-weight: 900;
  position: relative;
  width: 900px;
  top: -30px;
  margin-bottom: 25px;
  margin-top: 25px;
  background-color: #f4f4f4;
  border: 1.5px solid black;
  font-family: "Oswald", sans-serif;
  font: bolder;
  align-content: center;
}

.sesh {
  font-size: 11px;
  font-weight: 900;
  position: relative;
  width: 900px;
  top: -30px;
  margin-bottom: 25px;
  margin-right: 35px;
  background-color: #f4f4f4;
  border: 1.5px solid black;
}
